ul.nav {
  width:100%;
}

.nav > li.nav-bar-right {
  float:right;
  margin-right: 5px;
}

.nav div.dropdown-menu {
  background-color: #eceff1;
  top: 38px;
}

#login-form-dropdown {
  left: -178px;
}

#signup-form-dropdown {
  left: -169px;
}

.form {
  margin: 20px 20px 20px;
}

.navbar .nav > li > .dropdown-menu:after {
  left: 222px;
  border-bottom-color: #eceff1;
}

.navbar .nav > li > .dropdown-menu:before {
  left: 222px;
}

.event {
  font-size: 16px;
}

.event > a {
  text-decoration: none;
}

#footer {
  padding-top: 30px;
  padding-left: 10px;
}

.datepicker {
  z-index: 2000;
}

.textarea {
	margin-top: 20px;
	margin-bottom: 20px;
}

.inline {
  display: inline-block;
}

#left {
	display: inline-block;
	width: 50%;
}
#right {
	display: inline-block;
	float: right;
	width: 45%;
}

#scroll {
	text-align: left;
	max-height: 500px;
	overflow-y: auto;
}

#pad {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#left-but{
	display: inline-block;
}
#right-but{
	display: inline-block;
	margin-left: 10px;

}
