<h1> Event Creation Test </h1>

{% extends "layout.html" %}
{% block content  %}
<body>
	<div class="login">
		<div class="login-screen login-2">
			<div class="login-icon">
				 <h2> Events</h2>
			 </div>
			 <form class="login-form" method="post" action="create_event">
				 <div class="control-group">
					 <input name="name" type="text" placeholder="Event Name" class="login-field" id="login-name" />
				 </div>
				 <div class="control-group">
					 <input name="group" type="password" placeholder="GroupName" class="login-field" id="login-pass" />
				 </div>
				 <div class="control-group">
					 <input class="btn btn-primary btn-large btn-block" type="submit" id="login-link" value="Login">
				 </div>
			 </form>
		 </div>
	 </div>
 </div>
{% endblock %}
