{% extends "layout.html" %}

{% block nav_bar %}
<li><a href="/">Switch to Student Mode</a></li>
{% endblock %}

{% block login_url %}
"/group_login"
{% endblock %}

{% block signup_url %}
"/group_signup"
{% endblock %}

{% block logout_url %}
"/group_logout"
{% endblock %}

{% block content %}
<h1 class="demo-logo"> Events@Penn </h1>
<h3>Make an Event</h3>
<form class="form" method="post" action="/create_event">
  <div class="control-group">
    <input name="name" type="text" placeholder="Name" class="login-field" id="login-name" />
  </div>
  <div class="control-group">
    <textarea rows="3" name="description" placeholder="Description"></textarea>
  </div>
  <div class="control-group">
    <input type="text" class="datepicker" placeholder="Date" data-date-format="mm/dd/yy" id="dp2" name="date" />
  </div>
  <div class="control-group bootstrap-timepicker">
    <input type="text" class="timepicker input-small" name="time" />
  </div>
  <div class="control-group">
    <input class="btn btn-inverse btn-large" type="submit" id="login-link" value="Create">
  </div>
</form>  
{% endblock %}
