{% extends "layout.html" %}

{% block nav_bar %}
<li><a href="/group">Switch to Group Mode</a></li>
{% endblock %}

{% block login_url %}
"/login"
{% endblock %}

{% block signup_url %}
"/signup"
{% endblock %}

{% block logout_url %}
"/logout"
{% endblock %}

{% block content  %}
<body>
  <h1 class="demo-logo"> Events@Penn </h1>
  <div class="imgDiv">
    <img src="/static/philly4.jpg">
  </div>
  <div class="imgDiv">
    <img src="/static/philly3.jpg">
  </div>
  <div class="imgDiv">
    <img src="/static/philly5.jpg">
  </div>
</body>
{% endblock %}
