{% extends "layout.html" %}
{% block content  %}
<div class="view-login">
 <div class="row">
    <div class="large-4 columns">
      <form id="login-form" class="login large-12" method="post" action="login">
        <h3>Login</h3>
        <input name="email" type="text" placeholder="Email" />
        <input name="password" type="password" placeholder="Password" />
        <input class="button" type="submit" id="login-button" value="Login">
      </form>
    </div>
  </div>
  <form id="register-form" class="signup large-12" method="post" action="signup">
    <h3>Sign Up</h3>
    <label>Email</label>
    <input name="email" type="text" placeholder="" />
    <label>Password</label>
    <div class="row">
      <div class="large-6 columns">
        <input name="password" type="password" placeholder="Enter Password" />
      </div>
      <div class="large-6 columns">
        <input name="confirm_password" type="password" placeholder="Confirm Password" />
      </div>
    </div>

    <input class="button" type="submit" id="register-button" value="Register">
  </form>
</div>
{% endblock %}
