<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='flat-ui.css') }}">
    <h1> Events@Penn </h1>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %} 
    <a href="/group">Sign in as a group</a>
    {% if student or group %}
    You are logged in as a {{ student.email if student else group.email }}.
    Click <a href = "logout">here</a> to logout.
    {% endif %}
    <title>{% block title %}{% endblock %} Event@Penn</title>
    {% endblock %}
  </head>
<body>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2013
    {% endblock %}
  </div>
</body>
