{% extends "layout.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
{% block content %}
<div class="row demo-tiles">
	<div class="span4">
		<div class="tile">
			<h3> {{ event.date.strftime("%m/%d/%y") }} </h3>
		</div>
	</div>
	<div class="span4">
		<div class="tile">
			<h3> {{ event.group.name }} </h3>
		</div>
	</div>
	<div class="span4">
		<div class="tile">
			<h3> {{ event.ticket_price }} </h3>
		</div>
	</div>
</div>
<div>
	<h1> {{ event.name }} </h1>
</div>
<div>
	<a href="#" class="btn btn-large btn-block btn-primary"> Click Here to Purchase </a>
</div>
<div class="textarea">
	<p> {{ event.description }} </p>
</div>
{% endblock %}

